.profile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  margin-top: 1rem;
}

input,
textarea,
button {
  margin: .5rem;
  padding: .3;
  font-size: inherit;
  color: var(--text-color);
  text-align: center;
  width: 100%;
}

textarea {
  height: 100px;
  color: var(--text-color);
}

::-webkit-input-placeholder {
  padding: 10px;
}

#profile .btn {
  background: #F30B21;
  color: #f4f4f4;
  width: 70%;
}

#user-info #logout-button {
  background: #222;
  color: #f4f4f4;
  width: 60%;
}

#user-info {
  border: 1px #757575 solid;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  margin-top: 1.3rem;
  color: green;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}