input,
button {
  font-size: 1em;
  font-family: inherit;
  border: none;
}

input:focus,
button:focus {
  outline: none;
}

input {
  border-bottom: 1px solid black;
  width: 100%;
}

#header h1 {
  color: #f4f4f4;
}

#create-button input,
h3 {
  font-size: inherit;
}