@media (max-width: 414px) {

	#container {
		grid-template-columns: 100%;
	}

	#showcase {
		grid-column: 1;
		grid-row: 2;
	}

	#showcase .showcase-content p {
		font-size: 1rem;
	}

	#showcase .showcase-content .l-heading {
		font-size: 2rem;
	}

	#menu {
		grid-column: 1;
		grid-row: 1;
	}

	#main {
		grid-column: 1;
		grid-row: 4;
	}

	.auth #main {
		grid-column: 1;
		grid-row: 6;
	}

	.post {
		padding: .4rem;
	}

	#login,
	#user-info {

		grid-column: 1;
		grid-row: 3;
	}


	#profile {
		grid-column: 1;
		grid-row: 4;
	}



	.auth #write-post {
		grid-column: 1;
		grid-row: 5;
		padding: .4rem;
	}

	#social {
		display: none;
	}

	#sidebar1-right {
		display: none;
	}

	#sidebar1-left {
		display: none;
	}

	#sidebar2-left {
		display: none;

	}
}

/* 
@media (min-width: 415px) and (max-width: 800px) {

	#menu {
		grid-column: 1;
		grid-row: 2;
	}

	#main {
		grid-column: 2;
		grid-row: 1 / span 2;
	}


	#menu ul {
		flex-direction: column;
	}

	#menu li {
		font-size: 1.5em;
	}



	#create-account {
		flex-wrap: wrap;
	}

	#create-account input {
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: 30%;
	}

	#create-account button {
		width: 200px;
		margin: 1em;
	}
} */