@media (max-width: 414px) {

  #menu {
    grid-row: 1;
  }


  #social {
    display: none;
  }

  #sidebar1-right {
    display: none;
  }

  #sidebar1-left {
    display: none;
  }

  #sidebar2-left {
    display: none;
  }

}










/* @media (max-width: 414px) {
	
	body {
		font-size: 14px;
		line-height: 1.2;
	}
	
	.post .text {
		line-height: 1.5;
		font-size: 1.25em;
	}
	
	#menu {
		grid-column: 1;
		grid-row: 2;
	}

	
	#login {
		grid-row: 3;
	}
	
	.auth #main {
		grid-row: 3;	
	}
	
	#user-info {
		grid-row: 4;
	}
	
	
	#menu ul {
		justify-content: space-evenly;	
	}
	#menu a {
		font-size: 1.5em;	
	}
	#menu li {
		flex-grow: initial;
	}
	
	li#home {
		flex-basis: auto;	
	}
	
	
	#create-account {
		flex-wrap: wrap;
	}
	
	#create-account input, #create-account button {
		flex-basis: 100%;
		margin: 0.5em;
		font-size: 1.5em;
	}
}


@media (min-width: 415px) and (max-width: 800px) {

	#menu {
		grid-column: 1;
		grid-row: 2;
	}
	
	#main {
		grid-column: 2;
		grid-row: 1 / span 2;
	}
	
	
	#menu ul {
		flex-direction: column;
	}
	
	#menu li {
		font-size: 1.5em;
	}
	

	
	#create-account {
		flex-wrap: wrap;
	}
	
	#create-account input {
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: 30%;
	}
	
	#create-account button {
		width: 200px;
		margin: 1em;
	}
} */