#posts {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row: 4/5;
	grid-gap: 0.6em;
	text-align: center;
}

/* For iPhone */

@media (max-width: 450px) {
	#write-post {
		margin: 0 0 1em 0;
	}
	#posts {
		display: grid;
		grid-template-columns: 1fr;
		grid-row: 4/5;
	}
	#post-text {
		color: var(--main-text);
		height: 100px;
		margin-bottom: 1em;
		padding: .5em;
	}
	.compose-img {
		display: block;
		width: 100%;
		margin: 0;
	}
}

/* For iPad */

@media (min-width: 451px) and (max-width: 768px) {
	#posts {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-row: 4/5;
	}
	#post-text {
		color: var(--main-text);
		height: 100px;
	}
}
