* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* __________________________
-------Utility Styles-------------- */

body {
  font-family: 'roboto', Courier, monospace;
}

header h1 {
  /* text-align: center; */
  padding: 2rem;
}

img {
  width: 100%;
}
h1 {
  text-align: center;
}
