/* ----------------------------
Main Styles
------------------------------ */

@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #000;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
p {
  margin: 10px 0;
  padding: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
}
.btn {
  font-size: 17px;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #333;
  border: none;
  padding: 13px 20px;
  cursor: pointer;
}

img {
  max-width: 100%;
  margin-bottom: 1em;
}

.image-caption {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
  color: #000;
}

#main h2 {
  padding-top: 1em;
}
#main p {
  padding-top: 1em;
  text-align: center;
}

/*------------------------------------
BODY STYLES
------------------------------------*/

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  max-width: 1000px;
  margin: 0 auto;
}
#menu {
  grid-column: 1/4;
  grid-row: 1/2;
  background: #666;
  /* display: flex; */
}
#menu ul {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
  background: #222;
}
#header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 2/3;
  background: #666;
  padding: 2em 0;
}
#login {
  grid-column: 1/4;
  /*	position: relative;*/
  text-align: center;
  border: solid 1px #222;
}

#sidebar {
  grid-column: 1/2;
  grid-row: 3/4;
  background: #d9e5f3;
}
#sidebar h1 {
  margin-top: 1em;
}
#main {
  grid-column: 2/4;
  grid-row: 3/4;
  background: #dae3e5;
  /*    border:solid #000 2px;*/
}

#social {
  grid-column: 1/4;
  border: #000 solid 2px;
  background: #666;
}
#social ul {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
  background: #222;
  color: #fff;
}
