#user-info {
	display: none;
}

.auth #user-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#profile {
	display: none;
}

.auth #profile {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: end;
}

.auth #edit-profile-image {
	display: block;
	margin: auto;
	width: 233px;
}

.auth #login {
	display: none;
}

#write-post {
	display: none;
}

.auth #write-post {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: end;
}

.auth #post-text {
	width: 100%;
	height: 200px;
}