/* ----------------------------
Main Styles
------------------------------ */

@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  margin: 10px 0;
}

#container {
  display: grid;
  grid-row-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1000px;
    
  margin: 0 auto;
}

#menu {
  grid-column: 1/4;
  grid-row: 1/2;
  background: #666;
  /* display: flex; */
}

#menu ul {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
  background: #222;
}



.img-1 {
  width: 100%;
}



#header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 2/3;

  background: #666;
  padding: 2rem 0;
}

#login {
    
/*
    display: grid;
    grid-template-rows: 3/4;
*/

  grid-column: 2/3;
  position: relative;


  /* border: #000 solid 2px; */
  text-align: center;
}

#sidebar {
  grid-column: 1/2;
  grid-row: 3/4;
}

#main {
    display: grid;
    grid-template-columns: ;
}
.btn {
  /* display: inline-block; */
  font-size: 17px;
  /* position: absolute; */
  /* bottom: 12%; */
  justify-content: center;
  align-items: center;

  color: #fff;
  background: #333;
  border: none;
  padding: 13px 20px;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#social {
  grid-column: 1/4;
  border: #000 solid 2px;
  background: #666;
}
#social ul {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
  background: #222;
  color: #fff;
}
