/* #user-info {
	display: none;
	text-align: center;
}

.auth #user-info {
	display: block;
	grid-column: 2/4;
	grid-row: 1/2;
	max-width: 500px;
	margin: auto;
}

.auth #login {
	display: none;
}

#login h3 {
	padding: 1em;
}

#user-info {
	display: none;
}

.auth #user-info {
	display: block;
	width: 100%;
}

#profile {
	display: none;
}

.auth #profile {
	display: block;
}

.auth #login {
	display: none;
}

#write-post {
	display: none;
}

.auth #write-post {
	display: block;
}

.auth #social {
	grid-row: 6/7;
} */