#container {

  width: 100%;
  max-width: 1100px;
  margin: 0 auto;

  display: grid;
  grid-row-gap: 0.7em;
  grid-template-columns: repeat(4, 1fr);
}

#showcase {
  background: #333 url("../images/bgHalfImage.jpg") no-repeat center center/cover;
  height: 60vh;

}

#showcase .showcase-content {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 60vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
}

header {
  grid-column: 1/5;
  grid-row: 2/3;
  border-bottom: 1px solid black;
}

#login,
#user-info {
  grid-column: 2/4;
  grid-row: 3/4;
  padding: 1rem;
  border: red solid 1px;
}

#main {
  grid-column: 2/4;
  grid-row: 4/5;
  border: red solid 1px;

}

#profile {
  grid-column: 1/2;
  grid-row: 3/4;
  border: red solid 1px;
  background-color: aquamarine;
}

#social {
  grid-column: 4/5;
  grid-row: 3/5;
  border: red solid 1px;

}