/* #posts {
    grid-column: 2/3;
} */

.post {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: url(../images/fixed.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

/* #posts .post .text {
    padding: .5em 1em;
    line-height: 1.5;
}

#post-text {
    width: 100%;
    height: 250px;
    margin-bottom: 2em;
} */

#posts .profile-image {
    width: 150px;
}

/* #edit-profile-image {
    grid-column: 1/2;
    width: 400px;
    margin: 0 auto .5em auto;
} */