/* .profile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  margin-top: 1rem;
} */

.profile-wrapper {
  grid-column: 2/4;
  background: red
}

#user-info {
  grid-column: 2/3;
}


.input-icons i {
  position: absolute;
  margin-bottom: 2px;
  line-height: .2;

}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  margin-top: 1.3rem;
  color: green;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}