#what .items {
  display: block;
  padding: 1rem;
}

#what .items .item {
  display: flex;
  text-align: left;
}

#contact {
  display: block;
  text-align: center;
}

#contact .map {
  height: 500px;
}

/* Position Icon */

#what .items .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}

/* Smartphones */
@media only screen and (max-width: 500px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }

  #navbar ul li a {
    margin-right: 0.5rem;
  }

  #navbar .logo {
    margin: 2rem 0;
    text-align: center;
  }

  #showcase .showcase-content {
    height: 100%;
    /* Overlay */
    position: absolute;
    /* height: -2px; */
    top: 190px;
    background-color: rgba(0, 0, 0, 0.6);
  }

  #showcase .showcase-content .l-heading {
    font-size: 2.5rem;
  }

  #showcase .showcase-content .lead {
    font-size: 1rem;
    line-height: 1.8rem;
  }

  #who {
    display: block;
  }

  #who .who-img {
    height: 300px;
  }

  #what .items .item {
    flex-direction: column;
    text-align: center;
  }

  #what .items .item i {
    margin: 0.5rem;
  }

  #clients .items img {
    width: 80%;
  }

  #clients .items div:last-child {
    display: none;
  }

  #contact {
    display: block;
  }

  #contact .map {
    height: 300px;
  }

  footer {
    font-size: 12px;
  }
}
