/* Align Icon to the left*/
#what .items .item {
  display: flex;
  text-align: left;
}

/* Position Icon */

#what .items .item i {
  margin-right: 2rem;
  align-self: center;
  margin-bottom: 0;
}

#contact .map {
  flex: 2;
}
