#container {
    display: grid;
    grid-template-columns: 1fr;
    border: #777 solid 1px;
}

input,
button {
    font-size: 1em;
    font-family: inherit;
    border: none;
}

input:focus,
button:focus {
    outline: none;
}

input {
    border-bottom: 1px solid black;
}

button {
    background: #777;
    border-radius: 1em;
}

#login {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    /* background: #999; */
    color: #fff;
}

#create-new input,
h3 {
    font-size: inherit;
}
