/* ----------------------------
Utilitys
------------------------------ */

@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #222;
}

.text-primary-1 {
    color: #fa0920;
}

.text-primary-2 {
    color: #fa0920;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

p {
    margin: 10px 0;
    padding: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 2em;
}

.btn {
    font-size: 17px;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #333;
    border: none;
    padding: 13px 20px;
    cursor: pointer;
}

.btn:hover {
    background: #555;
    color: #fff;
    cursor: pointer;
    transform: translate(2px, 1.2px);
    transition: 0.6s;
}

img {
    max-width: 100%;
    /*    height: 100vh;*/
    margin-bottom: 1em;
}

.image-caption {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
    color: #f4f4f4;
}

#main h2 {
    padding-top: 1em;
}

/*------------------------------------
BODY STYLES
------------------------------------*/

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 0.6em;
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
}

header {
    grid-column: 1/4;
    background: #eef8ff;
    padding: 1em;
}

#main {
    display: flex;
    /*    grid-row; 3/4;*/
}

#main div {
    flex: 1;
}

#main .skate-img {
    background: url("/responsive/img/img-1.jpg") no-repeat center top/cover;
    height: 50vh;
}

.info {
    grid-column: 1/2;
    grid-row: 3/4;
    background: #a7ddec;
    padding: 2em;
}

#login {
    grid-column: 1/4;
    grid-row: 4/5;
    background: #eef8ff;
}

#login .account {
    display: flex;
}

#login .account h6 {
    color: #555;
    align-self: center;
    font-size: inherit;
}

#login .account p a {
    color: #0000ee;
}

#login-message {
    color: #222;
    margin: 0 2em;
}

#social {
    grid-column: 1/4;
    border: #000 solid 2px;
    background: #666;
}

#social ul {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    background: #222;
    color: #fff;
}
