@media (max-width: 450px) {
    #container {
        display: grid;
        width: 100%;
        padding: 0;
    }

    .text-primary-1 {
        color: #222;
    }

    .text-primary-2 {
        color: #fa0920;
    }

    #main p {
        padding: 2em;
        margin: 0;
    }

    #menu ul {
        flex-direction: column;
    }

    #menu li {
        font-size: 1.1em;
        text-align: center;
        padding: 0.2em;
        margin: 0.5em;
        background: #dae3e5;
    }

    #menu a {
        color: #222;
        width: 100%;
    }

    header {
        background: #fa0920;
    }

    header h1 {
        color: #f4f4f4;
    }

    #main {
        display: block;
    }

    #main .skate-img {
        height: 400px;
    }

    /* create account  */
    #login {
        flex-wrap: wrap;
    }

    #login .account {
        flex: 1;
    }

    #login input,
    #login button {
        flex-basis: 100%;
        border-radius: 1px;
        margin: 0.5em;
        font-size: 1.1em;
        text-align: center;
        max-width: 210px;
    }

    #social {
        display: block;
    }

    #social ul {
        flex-direction: column;
        background: #222;
        color: #fff;
    }

    #social li {
        font-size: 1.1em;
        text-align: center;
        padding: 0.2em;
        margin: 0.5em;
        background: #dae3e5;
        color: #222;
    }


}

/*--------end-450px------*/


@media (min-width: 451px) and (max-width: 768px) {

    #main p {
        padding: 2em;
        margin: 0;
    }

    .text-primary-2 {
        color: #fa0920;
    }

    header {
        background: #777;
    }

    header h1 {
        color: #f4f4f4;
    }

    #main {
        display: block;
    }

    #main .skate-img {
        background: url('/responsive/skate1.jpg') no-repeat top center/cover;
        height: 400px;
    }

    #login {
        flex-wrap: wrap;
    }

    #login input,
    #login button {
        flex-basis: 100%;
        border-radius: 1px;
        margin: 0.5em;
        font-size: 1.5em;
        text-align: center;
        max-width: 450px;
    }


}

/*-------------end-Tablet*----------------/