/*Complimentary Colors

	main-color: #a7ddec
	complementaryLight: #EEF8FF
	complementaryDark: #6293A1
	accent1: #A17852
	accent2: #EDCAA8
	btn:hover #FFB68F
--------------------------
	Compound Colors

	main-color: #a7ddec
	compoundDark:#1E3A8A
	compoundLight: #7284BA
	accent2:#EF9B6E
*/


/* Red Option
:root {
	--main-color: #FF4D40;
	--btnMain: #09B34F;
	--btnHover: #40FF8F;
	--textSpan: #B3251B;
	--bgDrk: #804A46;
	--bgLight: #FF948C;
	--comp2: #FF6459;
	--borders: #757575;
	--textDrk: #222;
	--textLight: #f4f4f4;
}
*/


/* Green Option
:root {
	--main-color: #40FF63;
	--btnMain: #B30927;
	--btnHover: #FF4061;
	--textSpan: #0AC22C;
	--bgDrk: #468051;
	--bgLight: #8CFFA1;
	--comp2: #11C8FA;
	--borders: #757575;
	--textDrk: #222;
	--textLight: #f4f4f4;
}
*/


/* 
blue option
:root {
	--main-color: #a7ddec;
	--btnMain: #EF9B6E;
	--btnHover: #FFB68F;
	--textSpan: #EB5E55;
	--bgDrk: #4E676E;
	--bgLight: #EEF8FF;
	--comp2: #11C8FA;
	--borders: #757575;
	--textDrk: #222;
	--textLight: #f4f4f4;
}




:root {
	--main-color: #1786FF;
	--complement: #FFAA17;
	--accent-one: #3094FF;
	--accent-two: #085AB3;
}
	

	
:root {
	--main-color: #B515FF;
	--complement: #CD61FF;
	--accent-one: #5A0A80;
	--accent-two: #9110CC;
		
	--text-color: var(--accent-two); 
} */
	


/* Complementary */
/* :root {
	--main-hue: 193;
	--complement-hue: calc(var(--main-hue) - 180);

	--main-color: hsl(var(--main-hue), 50%, 50%);
	--complement: hsl(var(--complement-hue), 50%, 50%);
	--link-color: hsl(var(--main-hue), 50%, 90%);
	--accent-one: hsl(var(--main-hue), 20%, 90%);
	--accent-two: hsl(var(--complement-hue), 40%, 60%);
	--main-text: hsl(var(--main-hue), 50%, 10%);
	--btnHover: hsl(var(--main-hue), 40%, 20%);
	--textSpan: var(--bgLight);
	--textSpan2: var(--bgDrk);
	--bgDrk: var(--complement);
	--bgLight: var(--accent-one);
	--btnDrk: var(--main-text);
	--btnLight: var(--bgLight);	
} */

/* Triadic */
/* :root {
	--main-hue: 110;
	--accent-one-hue: calc(var(--main-hue) - 120);
	--accent-two-hue: calc(var(--main-hue) + 120);

	--main-color: hsl(var(--main-hue), 10%, 30%);
	--accent-one: hsl(var(--accent-one-hue), 10%, 80%);
	--accent-two: hsl(var(--accent-two-hue), 50%, 50%);
	--btnDrk: hsl(var(--main-hue), 15%, 30%);	
	--btnHover: hsl(var(--main-hue), 10%, 20%);	
	--textSpan: hsl(var(--main-hue), 20%, 70%);	
	--textSpan2: hsl(var(--accent-one-hue), 30%, 60%);	
	--bgLight: var(--accent-one);
	--bgDrk: var(--accent-two);
	--link-color: var(--bgLight);
	--textLight: var(--bgLight);
} */

/* Mono */
:root{
	--main-hue: 193;
	--saturation: 20;
	--lightness: 20;
	--sat-percent: calc(var(--saturation) * 1%);
	--light-percent: calc(var(--lightness) * 1%);

	--main-color: hsl(var(--main-hue), 50%, 50%);
	--accent-one: hsl(var(--main-hue), var(--sat-percent), 50%);
	--btnHover: hsl(var(--main-hue), var(--sat-percent), 40%);
	--link-color: hsl(var(--main-hue), var(--sat-percent), 90%);
	--accent-two: hsl(var(--main-hue), 50%, var(--light-percent));
	--bgLight: var(--accent-one);
	--bgDrk: var(--accent-two);
	--btnDrk: var(--bgDrk);	
	--textSpan: var(--link-color);
	--textSpan2: var(--link-color);

}

a {
	color: var(--link-color);
}
.text-primary-2 {
	color: var(--textSpan);
}
.text-primary-1 {
	color: var(--textSpan2);
}
#menu {
	background-color: var(--bgDrk);
}

header {
	background-color: var(--bgLight);
}
.info {
	background-color: var(--main-color);
	color: var(--textLight);
	/* color: #fff; */
}
#login {
	background-color: var(--bgLight);
	
}
.btn {
	background-color: var(--btnDrk);
	color: var(--btnLight);
}
.btn:hover {
	background-color: var(--btnHover);
}
#social ul {
	background-color: var(--bgDrk);
}
#social ul li {
	color: var(--link-color);
}
