/* .users-container {
  display: grid;
  grid-template-columns: 1/4;
} */

#users {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 5/6;
  grid-gap: 0.6em;
  text-align: center;
  background-color: var(--accent-three);
}

#users {
  padding: 1em;
}

.user {
  border: 1px solid #ccc;
  border-radius: 5.2px;
  margin: 0.5em 0;
  padding: 1em;
}

.user .name {
  font-size: 1.5em;
  padding: .5em;

}

.user .bio {
  padding: .5em;
  font-family: var(--text-font);
}

.user img {
  width: 40vmin;
  max-height: 50vh;
  margin-top: 1em;
}

#login {
  grid-column: 1/4;
  grid-row: 3/4;
  background: #eef8ff;
}