#user-info {
	display: none;
}

#profile {
	display: none;
}

.auth #user-info {
	display: block;
	border: 1px solid red;
}

.auth #profile {
	display: block;
}

#edit-profile-image {
	width: 300px;
	margin: 0 auto .5em auto;
}

.auth #login {
	display: none;
}

#write-post {
	display: none;
}

.auth #write-post {
	display: block;
}