#create-container .create-items {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
#create-container .create-items h1 {
  font-size: inherit;
  margin: 1.4rem 0;
}
#create-container {
  grid-column: 2 / 4;
  grid-row: 3 / 5;
}
input,
button {
  font-size: 1em;
  font-family: inherit;
  border: none;
  padding: 0.5rem;
  margin: 0.7rem 0;
}
input:focus,
button:focus {
  outline: none;
}
#create-button input,
h3 {
  font-size: inherit;
}
