#container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-gap: 0.7em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 250px 250px 150px 200px 200px auto;
}
#showcase {
  background: #333 url('../images/bgHalfImage.jpg') no-repeat center
    center/cover;
  height: 60vh;
}
#showcase .showcase-content {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 60vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
}
header {
  grid-column: 1/5;
}

#login,
#user-info {
  grid-column: 2/4;
  grid-row: 2/3;
  padding: 1rem;
  text-align: center;
}
.login-items {
  display: flex;
  flex-direction: column;
  color: #000;
  z-index: 999;
}
#login .login-items a:hover {
  color: #000;
  cursor: pointer;
  transform: translate(2px, 1.2px);
  transition: 0.6s;
  border: solid 1px var(--accent-three);
  padding: 0.6rem;
}
input,
.btn {
  margin-bottom: 1rem;
  padding: 0.3rem;
}
#main {
  grid-column: 2/4;
  grid-row: 3;
}

#profile {
  display: none;
}
.sidebar-right #social {
  grid-column: 4/5;
  grid-row: 5;
}

.social-icons {
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
  height: 100%;
  /* border: solid 1px #000; */
  box-shadow: var(--box-shadow);
}

#social .social-icons a {
  padding: 1rem;
}

#social .social-icons a:nth-child(1) i {
  color: #1f1114;
}
#social .social-icons a:nth-child(2) i {
  color: #4099ff;
}
#social .social-icons a:nth-child(3) i {
  color: #b31217;
}
#social .social-icons a:nth-child(4) i {
  color: #3b5998;
}
#social .social-icons a i:hover {
  color: black;
}

#sidebar-right {
  grid-column: 4;
  grid-row: auto;
  display: flex;
  flex-direction: column;
}

#sidebar-right h1 {
  padding: 0.6rem;
  border-bottom: 4px double var(--accent-three);
  margin-bottom: 0.6rem;
}
#sidebar-right .image-article {
  display: flex;
  margin-bottom: 0.6rem;
  padding: 1rem;
  box-shadow: var(--box-shadow);
}
#sidebar-right .image-article img {
  width: 100px;
  height: 100px;
  max-width: 100%;
  flex: 1;
}
#sidebar-right .image-article h5 {
  flex-direction: column;
  text-align: left;
  padding: 0 0.5rem;
}
/* #spotify-left {
  grid-column: 1/2;
  grid-row: 6 / span 2;
} */
#onion-left {
  grid-column: 1/2;
  grid-row: 2/7;
  padding: 1rem;
  box-shadow: var(--box-shadow);
}
/* #onion-leftUsers {
  grid-column: 1/2;
  grid-row: 3 / span 3;
  border: solid 1px var(--accent-three);
  padding: 1rem;
} */

.tags-container {
  grid-column: 2/4;
  grid-row: 3 / span 5 !important;
}
