@media (max-width: 450px) {
	#container {
		display: grid;
		width: 100%;
		padding: 0;
	}

	#main p {
		padding: 2em;
		margin: 0;
	}

	#menu ul {
		flex-direction: column;
	}

	#menu li {
		font-size: 1.1em;
		text-align: center;
		padding: 0.2em;
		margin: 0.5em;
	}

	#menu a {
		width: 100%;
	}

	#main {
		display: block;
	}

	#main .skate-img {
		height: 400px;
	}

	#main .compose-img {
		height: 400px;
		margin: 0;
	}

	#main .btn {
		display: block;
		margin: 0 auto;
		max-width: 100px;
		font-size: 15px;
		border: none;
		padding: 13px 20px;
		cursor: pointer;
	}

	#write-post {
		margin: 0 0 1em 0;
	}

	#posts {
		display: grid;
		grid-template-columns: 1fr;
		grid-row: 4/5;
	}

	#posts .post .text {
		padding: .9em 1em;
	}


	#post-text {
		color: var(--main-text);
		height: 100px;
		margin: 0px;
		padding: .5em;
	}

	/*---------------- Posts & Publish Resize------------------------------------------ */
	/* --------------Login and error message when activated - Phones  
    ------------------------------------------------------------------*/
	#login {
		flex-wrap: wrap;
	}

	#login .account {
		display: block;
		min-width: 100%;
		text-align: center;
	}

	#login .account p#login-message {
		flex-basis: 100%;
		font-size: 0.9em;
		text-align: center;
		max-width: 100%;
	}

	#login input,
	#error-message,
	#login button {
		flex-basis: 100%;
		border-radius: 1px;
		margin: 0.5em;
		font-size: 1.1em;
		text-align: center;
		max-width: 210px;
	}

	#social {
		display: block;
	}

	#social ul {
		flex-direction: column;
	}

	#social li {
		/* font-size: 3.1em; */
		text-align: center;
		padding: 0.2em;
		margin: 0.5em;
	}

	/* #login {
		grid-row: 3;
	} */

	/* .auth #main {
		grid-row: 3;
	}

	#user-info {
		grid-row: 3/4;
	} */

}

/*  ============== End Phones =====================*/


/*  ============== Start iPad =====================*/

@media (min-width: 451px) and (max-width: 768px) {
	#main p {
		padding: 2em;
		margin: 0;
	}

	#main {
		display: block;
	}

	#main .skate-img {
		background: url("/MMP-350/responsive/skate1.jpg") no-repeat top center/cover;
		height: 400px;
	}

	#main .compose-img {
		height: 400px;
		margin: 0;
	}

	#login {
		flex-wrap: wrap;
	}

	#login input,
	#error-message,
	#login button {
		flex-basis: 100%;
		border-radius: 1px;
		margin: 0.5em;
		font-size: 1.5em;
		text-align: center;
		max-width: 400px;
	}

	#login .account {
		display: block;
		min-width: 400px;
		text-align: center;
	}

	#login .account #login-message {
		min-width: 100%;
	}

	#posts {
		display: grid;
		grid-template-columns: 1fr;
		grid-row: 4/5;
	}

	#posts .post .text {
		padding: .5em 1em;
	}

	#post-text {
		color: var(--main-text);
		height: 200px;
		margin: 0px;
	}

}

/*  ============== End iPad =====================*/


/*Start ipad form input alignment when error message is activated-------------------
-------------------------------------------------------------------------------------*/

@media (min-width: 769px) and (max-width: 1100px) {
	#login input {
		flex-basis: 100%;
		margin: 0 2em 0 0;
		font-size: inherit;
		text-align: center;
		max-width: 160px;
	}

}